html,
body {
  background-image: url('/images/books.jpg');
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  font-size: 30px;
  background-color: rgba(77, 119, 119, 0.6);
  max-width: 50%; /* Adjust the max-width as per your design */
  padding: 20px; /* Adjust padding to increase or decrease space around content */
  border-radius: 30px;
  margin: 50px auto; /* Center horizontally and add vertical margin */
  box-sizing: border-box; /* Ensures padding is included in the max-width */
}
.new-book {
  background-color: brown;
}
.input-large {
  height: 40px; /* Adjust height as needed */
}
